/* map image */


html {
  background-color: #0E1F2F;
  }

  #head {
  background: #0E1F2F
  text-align: center;

  }

  /* navigation menu */
  nav {
    width: 100%;
    background-color: #0E1F2F;
  }

  li {
    list-style-type: none;
    flex-direction: row;
    float: left;
    text-align: center;
    padding: 20px;

  }

  /* Navigation links */
  nav a {
    padding: 12px;
    color: #F5BC00;
    text-decoration: underline;
    font-size: 75px;
    width: 23%;
    text-align: center;
  }


  /* Add a background on hover */
  nav a:hover {
    background-color: #818479;
  }

  /* Style current link */
  nav a.active {
    background-color: black;
  }
#map {
  height: 600px;
}
  /* Add responsiveness - mobile*/
  @media screen and (max-width: 500px) {
    nav a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* will be left-aligned on small screens */
    }

  }

  /*From here starts Home page styling with base name */

  header {
    color: #F5BC00;
    font-size: 70px;
    text-align: center;
    font-family: Chakra Petch;
  }

  h1 {
    color: #F5BC00;
    font-size: 40px;
    text-align: center;
    font-family: Chakra Petch;
  }

  p {
    color: #F5BC00;
    font-size: 35px;
    text-align: center;
    font-family: Chakra Petch;
  }

  h2 {
    color: #F5BC00;
    font-size: 15px;
    text-align: botton-left;
    font-family: Chakra Petch;
    margin: left;
  }

  h3 {
  color: #F5BC00;
  font-size: 18px;
  font-family: Chakra Petch;

  }


  /* 4 jets image */

  myImage {
  image-orientation: none;
  height:auto;
  width:auto;
  position: fixed;
  background-image:("assets\images\pexels-photo-3758435.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 3px solid #818479;
}



  body {
    background-color: #0E1F2F;
    color: #F5BC00;
    padding: -5px;
    font-family: Chakra Petch;
    list-style: none outside none;
  }


